<div class="container">
  <h1 class="text-center">Adminstrator</h1>
  <%= render 'admin/nav_links' %>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Categories</th>
        <th scope="col">Posts</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <th scope="row"><%= category.id %></th>
          <td><%= link_to category.name, edit_category_path(category) %></td>
          <td><%= category.posts.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>