<div class="content">
  <h1 class="text-center">Editing post</h1>

  <%= render "form", post: @post %>

  <br>

  <div style="text-align: center; margin-bottom: 1.5%">
    <%= link_to "Show this post", @post, class: "btn btn-outline-primary" %> |
    <%= link_to "Back to posts", posts_path , class: "btn btn-outline-primary"%>
  </div>
</div>
